* {
  font-family: Helvetica;
  color: white;
}

:root {
  --headingSize: 27px;
  --background-color: black;
}

h1 {
  margin: 0;
  letter-spacing: 0.7px;
  font-size: var(--headingSize);
}

span {
  display: inline-block;
  overflow: hidden;
  animation: 0.3s swift-up ease-in-out forwards;
}

i {
  font-style: normal;
  position: relative;
  top: var(--headingSize);
  animation: 0.5s swift-up ease-in-out forwards;
}

@keyframes swift-up {
  to {
    top: 0;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: auto;
    margin: 0 0%;
  }

  :root {
    --headingSize: 23px;
  }
}
